{% extends 'base/index.html' %}

{% block additional_links %}
<!-- JQuery -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<!-- Moment.js -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- DateRangePicker -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Adaptor for datetime on x axis -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.0/chartjs-plugin-zoom.min.js" integrity="sha512-TT0wAMqqtjXVzpc48sI0G84rBP+oTkBZPgeRYIOVRGUdwJsyS3WPipsNh///ay2LJ+onCM23tipnz6EvEy2/UA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% load static %}
<script src="{% static 'dashboard/script.js' %}"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <input class="w-100 text-center rounded-pill" type="text" id="datetimes" />
        </div>
        <div class="col-sm-8">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="switchCurrentData">
                <label class="form-check-label" for="switchCurrentData">Current Data</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            <div class="me-0 border" style="width:400px; height:300px;">
                <canvas id="chart1"></canvas>
            </div>
            <div>
                <button>SomeButton</button>
                <button>AnotherButton</button>
            </div>
            
        </div>
        <div class="col border">
            <div class="border" style="width:400px; height:300px;">
                <canvas id="chart2"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}